@charset "utf-8";

/* 基幹 */

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  background: #c6ffee;
}

/* header */

.header {
  padding: 18rem 0 16rem;
}

.title {
  font-size: 5rem;
  margin: 0;
}

/* header End */


/* main */

.container {
  font-size: 3rem;
}

.lists li {
  list-style: none;
  margin-bottom: 2rem;
}

/* main End */