@charset "utf-8";

/* 基幹 */

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  text-align: center;
  background: #c6ffee;
}

/* header */

.header {
  padding: 18rem 0 16rem;
}

.title {
  font-size: 5rem;
  margin: 0;
}

/* header End */


/* main */

.container {
  font-size: 3rem;
}


.lists {
  padding: 10rem;
  text-align: left;
}

.lists li {
  list-style: none;
  margin-bottom: 2rem;
  background-color: #ffecec;
}

.lists li a {
  text-decoration: none;
}

/* main End */

/* レスポンシブ */

@media (max-width: 1465px) {
  .header {
    padding: 3rem 0 1rem;
  }

  .title {
    font-size: 3rem;
  }

  .container {
    font-size: 2rem;
  }

  .container h2 {
    margin-bottom: 0;
  }

  .lists {
    padding: 5rem;
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .container {
    /* font-size: ; */
  }
}